
.FooterComponent {
    width: 100%;
    background-color: black;
    padding: 2rem 0rem;
}

.FooterComponent-in {
    width: 100%;
}

.FooterComponent-in p {
    color: white;
    text-align: center;
    font-size: 1rem;
}