@font-face {
    font-family: 'Monaco';
    src: url('./Fonts/Monaco.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monaco', monospace;
}

.HomeComponent {
    width: 100%;
}

.Home-navigator {
    position: fixed;
    width: 2%;
    top: 40%;
    right: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Home-navigators {
    width: 90%;
    margin: auto;
    padding: .2rem;
    border-radius: 5px;
    background-color: rgb(173, 169, 169);
}

.active-nav {
    width: 90%;
    margin: auto;
    padding: .2rem;
    border-radius: 5px;
    background-color: blue;
}

.HomeComponent-in {
    width: 100%;
    margin: auto;
}
  
.Home-one {
    width: 100%;
    background-color: black;
    color: white;
}

.Home-one-in {
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    height: 80vh;    
    display: flex;
}

.Home-one-content-one {
    width: 65%;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-oco-in-one {
    padding: 1rem 0rem;
}

.Home-oco-in-one h1 {
    font-size: 2.1rem;
}

.Home-oco-in-two {
    padding: .5rem 0rem;
}

.Home-oco-in-two p {
    font-size: 1.3rem;
    text-align: left;
    line-height: 2rem;
}

.Home-oco-in-three {
    width: 100%;
}

.Home-oco-in-three-in {
    display: flex;
    padding: 2rem 0rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.Home-oco-in-three-in a {
    padding: .8rem 1.2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.Home-oco-in-three-in a:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

.Home-one-content-two {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-one-content-two-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-one-content-two-in img {
    width: 100%;
    height: 100%;
}

/* --------------- Home-two --------------- */

.Home-two {
    width: 100%;
}

.Home-two-in {
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}

.Home-two-in h1 {
    font-size: 1.8rem;
    padding: 2rem 0rem;
}

.Home-three {
    width: 100%;
}

.Home-four {
    width: 100%;
}