.YoutubeComponent {
    width: 100%;
}

.YoutubeComponent-in {
    width: 80%;
    margin: auto;
    padding: 1rem 0rem 4rem 0rem;
}

.Youtubet-one {
    width: 100%;
}

.Youtube-one h1{
    font-size: 2.5rem;
}

.Youtube-two {
    width: 100%;
    padding: 2rem 0rem;
}

.Youtube-two-in {
    width: 100%;
    background-color: rgb(245, 245, 247);
    border-radius: 20px;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Youtube-two-one {
    width: 50%;
}

.Youtube-two-one-in {
    width: 100%;
}

.Youtube-two-one-in-one {
    width: 100%;
    padding: .5rem;
    text-align: center;
}

.Youtube-two-one-in-one h1 {
    font-size: 2.5rem;
}

.Youtube-two-one-in-two {
    width: 60%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.Youtube-two-one-in-three {
    width: 100%;
    padding: 1rem;
    text-align: center;
}


.Youtube-two-one-in-three a {
    padding: .8rem 1rem;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(45deg, #f093fb, #f5576c, #ff9a9e, #fad0c4, #fdfbfb, #a1c4fd, #c2e9fb);
    background-size: 200%;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.Youtube-two-two {
    width: 50%;
}

.Youtube-two-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}