* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavComponent {
    width: 100%;
}

.NavComponent-in {
    padding: 4rem 0rem 1rem 0rem;
    display: flex;
}

.Navbar-one {
    width: 50%;
}

.Navbar-one-in {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
}

.Navbar-one-in p {
    font-size: 1rem;
}

.mail-icon {
    color: black;
}

.Navbar-two {
    width: 50%;
}

.Navbar-two-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar-two-in a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.Navbar-two-in a:hover {
    color: blue;
}

